.card {
  overflow: hidden;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  height: 360px;
  border-radius: 15px;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s, filter 0.3s;
    transform-origin: top;
    filter: blur(0);
    transition: filter 0.3s;
  }

  &__details {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      transition: font-size 0.3s;
      margin-top: 10px;
      margin-bottom: 40px;
      align-self: center;
    }

    p {
      font-size: 1rem;
      transition: font-size 0.3s;
      margin-bottom: 20px;
    }

    .card__more-info {
      margin-top: 20px;
      padding: 15px 30px;
      background-color: white;
      color: cadetblue;
      border: 2px solid cadetblue;
      border-radius: 25px;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 1.2rem;

      .card__icon {
        margin-left: 5px;
      }
    }
  }

  &:hover {
    .card__image {
      filter: blur(4px);
    }

    .card__details {
      opacity: 1;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: 768px) {
    .card__details {
      opacity: 1;
    }
    .card__image {
      filter: blur(4px);
    }
  }
}
