// Variables SCSS
$icon-height: 105px;
$icon-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
$icon-hover-shadow: 0 12px 24px rgba(192, 192, 192, 0.5);
$padding: 10px;

.section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  max-width: 1200px;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $padding;
  background-color: transparent;
  border-radius: 8px;
  box-shadow: $icon-shadow;
  transition: box-shadow 0.4s ease;
  cursor: pointer;
  &:hover {
    box-shadow: $icon-hover-shadow;
  }
}

.icon {
  height: $icon-height;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease, filter 0.4s ease;
  filter: brightness(1.1);

  &:hover {
    transform: scale(1.1);
  }
}

.icon-label {
  margin-top: 10px;
  font-size: 18px;
  color: white;
  font-weight: 500;
}

h2 {
  margin-bottom: 20px;
}
