// src/App.scss

#root {
  max-width: calc(
    1280px + 20px
  ); // Ajuste la largeur maximale pour compenser les espaces à gauche et à droite
  margin: 0 auto; // Centre le conteneur horizontalement
  padding: 2rem 10px; // Ajoute un espace de 10px à gauche et à droite, et conserve 2rem de padding au-dessus et en dessous
  text-align: center;
}
// src/App.scss

.app-container {
  padding: 0 10px; // Ajoute un espace de 10px à gauche et à droite
  box-sizing: border-box; // Inclut le padding dans la largeur totale
}

main {
  max-width: 1280px; // Ajuste la largeur maximale pour le contenu principal
  margin: 0 auto; // Centre le contenu horizontalement
  padding: 2rem 0; // Ajoute du padding en haut et en bas
  text-align: left; // Assure que le texte n'est pas centré
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
