#root {
  max-width: calc(1280px + 20px);
  margin: 0 auto;
  padding: 2rem 10px;
  text-align: center;
}

.app-container {
  padding: 0 10px;
  box-sizing: border-box;
}

main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 0;
  text-align: left;
}
